body {
    overflow-x: hidden;
}

.Main {
    background-color: rgb(8, 8, 8);
}

.Centered {
    color: white;
    position: absolute;
    font-size: 80px;
    font-weight: 700;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Centered1 {
    color: white;
    position: absolute;
    font-size: 80px;
    font-weight: 700;
    line-height: 30px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Centered2 {
    position: absolute;
    line-height: 30px;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec1 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(8, 8, 8);
    overflow-x: hidden;

}

.t1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.t2 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: -20px;
}

.p1 {
    text-align: center;
    color: white;
    width: 40rem;
    margin: auto;
    margin-top: 5rem;

}

.Explore {
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.Explore1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: -30px;
}

.Explore2 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: -30px;
}

.Number156 {
    font-size: 50px;
    font-weight: 700;
}


.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}
@media (max-width:600) {
    .sec-title .title {
        margin-top: 10rem
    }
}
.sec-title .text {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
}

.list-style-one {
    position: relative;
}
.about-section {
    position: relative;
    padding: 120px 0 70px;
}

.about-section h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-left: 30px;
}

.about-section .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one {
    margin-bottom: 45px;
}

.about-section .btn-box {
    position: relative;
}



.about-section .image-column {
    position: relative;
}

.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
}

.about-section .image-column .inner-column:before {
    position: absolute;
    left:25rem;
    top:23rem;
    height: 450px;
    width: 450px;
    background-image: url(../img/Group.png);
    content: "";
    background-repeat: no-repeat;
}

@media (max-width:600px) {
    .about-section .image-column .inner-column:before {
        position: absolute;
        left: -5px;
        top: 65px;
        height: 520px;
        width: 300px;
    }
}

.about-section .image-column .image-1 {
    position: relative;
}

.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;

}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
}
.about-section .image-column .image-1 img {
    margin-left: -8rem;

}

.about-section .image-column .image-2 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
    margin-left: 20rem;
    margin-bottom: -2rem;
    width: 15rem;
    height: 15rem;
}

@media (max-width:600px) {
    .about-section .image-column .image-1 img {
        margin-left: -7rem;
    }
    .about-section .image-column .image-2 img{
      
        width: 100px;
        height: 130px
    }

}


/* Sectiion6 */

.Our{
    font-size: 50px;
    color: white;
    font-weight: 600;
}

/* Footer */
.footer-06 .subscribe-form {
    border-radius: 40px;
    background: #2c2929;
    padding: 3px;
}

.w-100 {
    width: 100% !important;
}
.footer-06 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.form-group {
    margin-bottom: 1rem;
}
.footer-06 .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: rgba(252, 246, 246, 0.925) !important;
    font-size: 16px;
    height: 56px;
    border-radius: 0;
}

.form-control {
    height: 52px;
    background: #161616;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.footer-06 .subscribe-form .form-group .submit {
    color: #1a1818 !important;
    display: block;
    width: 150px;
    height: 56px;
    font-size: 14px;
    background: #eeea08 !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
