.Latse_blog{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.Section2{
    margin-top: 5rem;
}
.photo{
    text-align: center;
    margin-top: -2rem;
}